.card {
  border: 1px solid var(--ifm-color-emphasis-300);
  box-shadow: none;
  height: 100%;

  &Container {
    margin-bottom: calc(var(--ifm-spacing-horizontal) * 2);
  }
}

.image {
  background: hsl(0, 0%, 97%);
  position: relative;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 50%;
  }
}

[data-theme='dark'] .image {
  background: hsl(0, 0%, 10%);
}



.role {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}